node_modules
package-lock.json
yarn.lock
.vscode
.DS_Store

#Hardhat files
cache
artifacts

.env
coverage.json
coverage

deployments/arbitrumMainnet/solcInputs
deployments/arbitrumTestnet/solcInputs
deployments/avaxMainnet/solcInputs
deployments/avaxTestnet/solcInputs
deployments/bscMainnet/solcInputs
deployments/bscTestnet/solcInputs
deployments/ethMainnet/solcInputs
deployments/ethGoerli/solcInputs
deployments/maticMainnet/solcInputs
deployments/maticMumbai/solcInputs
deployments/optimismMainnet/solcInputs
deployments/optimismTestnet/solcInputs
